# Katalogi
bin/
obj/
.idea
Properties/
*.user

# Pliki
appsettings.json
appsettings.Development.json
./appsettings.json
./appsettings.Development.json
*.exe
*.dll
*.pdb
*.userprefs
*.bak
*.cache
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.pidb
*.user
*.psess
*.vsp
*.vspx
*.sap
*.sln.docstates

# Inne
[Tt]humbs.db
*.DS_Store
*.dotCover
*.resharper
