#nav-mobile {
  display: block;
  position: absolute;
  top: 0;
  z-index: 99;
  right: 0;
  @media only screen and (min-width: 1200px) {
    display: none;
  }
}
@keyframes slide-in-menu {
  from {
    transform: translateX(1000px);
  } to {
      transform: translateX(0);
    }
}
nav {
  span {
    @media only screen and (max-width: 1200px) {
      width: 100%;
      z-index: 1;
    }
  }
  .nav-elements {
    @media only screen and (max-width: 1200px)
    {
      animation: slide-in-menu 0.5s ease-in-out;
      display: none;
      width: 60%;
      height: 99vh;
      z-index: 5;
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     li {
        &:first-of-type {
          margin: 0;
          display: none;
        }
       &:last-of-type {
         margin: 0;
       }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .user-modal {
    
  }
}