$white-text: white;

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  background-color: #2f2731;
}
:root {
  font-size: 18px;
}
.rank {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 1.25rem;
  width: 2.5em;
  border-radius: 10em;
}
.D {
  background-color: #ce1414;
  color: rgb(90, 38, 38);
}
.C {
  background-color: #ce7714;
  color: rgb(90, 66, 38);
}
.B {
  background-color: #cec514;
  color: rgb(90, 83, 38);
}
.A {
  background-color: #7cce14;
  color: rgb(45, 90, 38);
}
.S {
  background-color: rgb(0, 157, 170);
  color: rgb(255, 199, 57);
}
.X {
  background-color: rgb(206, 28, 157);
  color: rgb(198, 233, 245);
}
.XH {
  background-color: rgb(206, 28, 157);
  color: rgb(198, 233, 245);
  letter-spacing: -.05em;
}
.Sx {
  background-color: rgb(0, 157, 170);
  color: rgb(198, 233, 245);
}
.SH {
  background-color: rgb(0, 157, 170);
  color: rgb(198, 233, 245);
}

.SS {
  background-color: rgb(206, 28, 157);
  color: rgb(255, 199, 57);
  letter-spacing: -.05em;
}
.SSx {
  background-color: rgb(206, 28, 157);
  color: rgb(198, 233, 245);
  letter-spacing: -.05em;
}

.error-span {
  display: block;
  color: lightcoral !important;
  font-weight: 700;
  text-align: center;
  margin: 20px auto -20px;
}

.error-notification {
  border-radius: 20px;
  width: 80%;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  position: absolute;
  top: 100px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: #df6d70;
    }
  }
}

body {
  top: 0;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
::selection {
  background-color: #CE93D8;
}

nav {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 25px 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: 600;
  > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    > li {
      margin: 0 10%;

      a {
        text-decoration: none;
        color: inherit;
        border-bottom: 3px solid #ce93d800;
        transition: all 0.15s ease;

        &:hover {
          border-bottom: 3px solid #CE93D8;
        }
      }

      &:first-of-type {
        margin-right: 40%;
        margin-left: 0;

        > a {
          &:hover {
            border-bottom: 3px solid #ce93d800;
          }
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  > span {
    a {
      text-decoration: none;
      color: inherit;
      border-bottom: 3px solid #ce93d800;
      transition: all 0.15s ease;

      &:hover {
        border-bottom: 3px solid #CE93D8;
      }
    }
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    .avatar-link {
      border: 0 !important;
    }

    .user-modal-logged {
      width: 30% !important;
      transform: translate(40%, 3rem) !important;

      ul {
        li {
          margin-bottom: 5px;
        }
      }
    }

    .user-modal {
      display: none;
      position: absolute;
      width: 70%;
      top: 0;
      right: 0;
      transform: translate(40%, 2.5rem);
      padding: 20px 20px;
      background-color: #00000059;
      border-radius: 12px;
      backdrop-filter: blur(20px);
      // zalogowany
      ul {
        padding: 0;
        display: block;
        width: 70%;
        margin: 0 auto;

        li {
          transition: 0.2s;
          text-align: left;
          list-style: none;

          &:hover {
            color: #ce93d8;
          }
        }
      }

      // nie zalogowany
      form {
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          font-weight: 500;
          margin-top: .5rem;
        }

        > h1 {
          font-weight: 500;
          font-size: 1rem;
          margin-bottom: .75rem;
        }

        > h2 {
          font-weight: 400;
          font-size: .9rem;
          margin-top: 0;
          text-align: left;

          &:last-of-type {
            margin-bottom: 0;
            text-align: center;
          }
        }

        hr {
          margin: 20px 0;
          width: 100%;
        }

        .btn {
          margin-top: 1.5rem;
          font-weight: 500;
          text-align: center;
          width: 50%;
          padding: 12px;
          align-self: flex-end;
          background-color: #ce93d8a2;
          margin-bottom: 0;

          &:hover {
            background-color: #CE93D8;
            cursor: pointer;
          }

          &:active {
            outline: transparent;
            filter: brightness(130%);
          }

          &:focus {
            outline: transparent;
          }
        }

        a {
          margin: 0;
          font-size: 1em;
          color: #CE93D8;
          text-decoration: none;
          transition: all .25s ease;

          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }

    .profile-avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: var(--bg);
      background-size: cover;
      background-position: center;
      transition: all 0.2s ease;
      outline: #ce93d800 2px solid;

      &:hover {
        outline: #ce93d8 2px solid;
      }
    }
  }

  input {
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 20px;
    padding: 6px 12px;
    padding-left: 15px;
    padding-bottom: 8px;
    border: none;
    width: 70%;
    font-size: 0.9rem;
    margin: 0;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    outline: rgba(255, 255, 255, 0) 1px solid;
    transition: all 0.25s ease;
    backdrop-filter: blur(20px);

    &:hover {
      background-color: rgba(0, 0, 0, 0.247);
    }

    &:focus {
      outline: white 1px solid;
      background-color: rgba(0, 0, 0, 0.247);

      + .search-results {
        display: flex;

        &:empty {
          display: none;
        }
      }
    }
  }

  > a {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid #ce93d800;
    transition: all 0.15s ease;

    &:hover {
      border-bottom: 3px solid #CE93D8;
    }
  }

  .active {
    border-bottom: 3px solid #CE93D8;
  }
}
header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000042 0%, #00000042 80%, rgb(47, 39, 49) 100%);
    .container {
      width: 100%;
      height: 100%;
      padding: 10vh 10%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > span {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        letter-spacing: 4px;
        font-size: 0.8rem;
      }
      .green-dot {
        display: block;
        width: 10px;
        height: 10px;
        background-color: rgb(0, 233, 0);
        box-shadow: 0 0 10px 2px rgb(0, 233, 0);
        margin-right: 10px;
        border-radius: 100%;
        animation: online ease 4s infinite;
        @keyframes online {
          0% {
            box-shadow: 0 0 10px 2px rgba(0, 233, 0, 0);
          } 50% {
              box-shadow: 0 0 10px 2px rgb(0, 233, 0);
            } 100% {
              } 100% {
                  box-shadow: 0 0 10px 2px rgba(0, 233, 0, 0);
                }
        }
      }
      > h1 {
        margin-top: 0;
        font-size: 3rem;
      }
      .buttons {
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        width: 100%;
        button {
          margin-right: 30px;
        }
      }
      button, a {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        border: none;
        color: white;
        font-family: inherit;
        font-weight: 400;
        cursor: pointer;
        filter: brightness(100%);
        text-decoration: none;
        transition: filter 0.25s ease;
        &:hover {
          filter: brightness(115%);
        }
        &:active {
          filter: brightness(125%);
        }
      }
    }
  }
}
.fancyh1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  color: white;
  margin: 0;
  width: fit-content;
  &::before {
    display: block;
    content: "";
    width: 6px;
    height: 1.25em;
    background-color: #CE93D8;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 29px 0 #CE93D8;
  }
}
.underline {
  border-bottom: 10px solid #CE93D8;
}
.content {
  position: relative;
  min-height: 100vh;
  background-color: #2f2731;
  section {
    display: inline-block;
  }
  .topfive {
    width: 100%;
    height: 100%;
    padding: 10vh 10%;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      padding: 2% 2%;
      border-radius: 15px;
      margin: 5vh auto 0;
      height: max-content;
      background-color: #ce93d817;
      div {
        width: 47.5%;
      }
      &:nth-last-of-type(1) {
        .fancyh1 {
          &::before {
            background-color: #74d5d6;
            box-shadow: 0  0 29px 0 #74d5d6;
          }
        }
      }
    }

    a {
      display: block;
    }
    .player {
      position: relative;
      height: 100px;
      width: 100%;
      border-radius: 15px;
      margin: 10px;
      padding: 10px;
      color: white;
      outline: #ce93d800 2px solid;
      transition: all .5s ease, color .25s ease;
      overflow: hidden;
      &:hover {
        color: #CE93D8;
        outline: #CE93D8 2px solid;
        .background::after {
          backdrop-filter: blur(0px);
        }
        .background {
          background-size: 100%;
        }
      }
      img {
        position: absolute;
        height: 80px;
        width: auto;
        border-radius: 15px;
        z-index: 2;
        pointer-events: none;
      }
      .info {
        top: 25%;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        width: 75%;
        color: inherit;
        font-size: 1rem;
        font-weight: 600;
        .wrap {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          &:nth-last-of-type(2) {
            letter-spacing: 1px;
          }
        }
        .flag {
          margin-bottom: 10px;
          position: relative;
          margin-left: 0;
          width: 35px;
          height: 23.5px;
          border-radius: 3px;
          clip-path: fill-box;
          overflow: hidden;
        }
      }
      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: var(--bg);
        background-size: 105%;
        background-position: center;
        pointer-events: none;
        transition: all .5s ease;
        &::after {
          display: inline-block;
          content: "";
          width: 100%;
          height: 100%;
          background-color: hsla(288, 100%, 4%, 0.76);
          transition: all .5s ease;
          backdrop-filter: blur(2px);
        }
      }
    }
  }
}
.square-btn {
  padding: 20px 50px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600 !important;
}
.search-results {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 70%;
  top: 0;
  transform: translateY(2rem);
  padding: 10px 12.5px;
  background-color: #00000059;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  &:empty {
    display: none;
  }
  a {
    display: block;
    border: none;
    &:hover {
      border: none;
      color: #CE93D8;
    }
  }
  &:hover {
    display: flex;
  }
  .player {
    position: relative;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    margin: 2.5px 0;
    padding: 10px;
    color: white;
    outline: #ce93d800 2px solid;
    transition: all .5s ease, color .25s ease;
    overflow: hidden;
    &:hover {
      color: #CE93D8;
      outline: #CE93D8 2px solid;
      .background::after {
        backdrop-filter: blur(0px);
      }
      .background {
        background-size: 100%;
      }
    }
    img {
      position: absolute;
      height: 40px;
      width: auto;
      border-radius: 10px;
      z-index: 2;
      pointer-events: none;
    }
    .info {
      top: 20%;
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      width: 75%;
      height: 100%;
      color: inherit;
      font-size: 1rem;
      font-weight: 600;
      > h1 {
        font-size: 1rem;
        margin: 0;
      }
      .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &:nth-last-of-type(2) {
          letter-spacing: 1px;
        }
      }
      .flag {
        margin-bottom: 5px;
        position: relative;
        width: 22px;
        height: 15px;
        border-radius: 3px;
        clip-path: fill-box;
        overflow: hidden;
      }
      .invisible {
        &::after {
          content: none;
        }
        &::before {
          content: none;
        }
      }
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: var(--bg);
      background-size: 105%;
      background-position: center;
      pointer-events: none;
      transition: all .5s ease;
      &::after {
        display: inline-block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: hsla(288, 100%, 4%, 0.76);
        transition: all .5s ease;
        backdrop-filter: blur(2px);
      }
    }
  }
}
.stats {
  position: relative;
  display: block;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 4vh 4vh;
  margin-top: 10px;
}

.badge {
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.466);
  color: white;
  padding: 6px 12px;
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: 700;
}

#player-profile {
  position: relative;
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 2vh 2vh;
  margin-top: -15vh;
  .player-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    .basic {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 150px;
      align-items: flex-start;
      justify-content: flex-start;
      color: white;
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 15px
    }
    .ranking {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      text-align: right;
      padding-right: 2.5%;
      align-items: flex-end;
      h1, h6, h3, h5 {
        margin: 0;
      }
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
      h5 {
        font-size: 1em;
      }
      h6 {
        font-size: .9em;
        font-weight: 500;
      }

      .global-ranks {
        display: flex;
        flex-direction: row;
        width: auto;
        white-space: nowrap;
        font-size: 0.75rem;
        .ranks {
          width: fit-content;
          display: flex;
          flex-direction: column;
          text-align: right;
          &:first-of-type {
            border-right: 1px solid #ce93d871;
            padding-left: 0;
            padding-right: 20px;
            h1 {
              color: #CE93D8;
            }
          }
          &:nth-of-type(2n) {
            margin-left: 20px;
            h1 {
              color: #74d5d6;
            }
          }
        }
      }
    }
    .player-basic-info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 15px;
      padding: 5px 0;
      height: 150px;
      .group {
        font-size: 1.25rem;
        margin: 0;
        font-weight: 600;
      }
      .playing {
        font-size: .75rem;
        color: white;
        font-weight: 600;
        a {
          color: #CE93D8;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: flex-end;
        font-weight: 500;
        span {
          font-size: 0.75rem;
        }
        .dot {
          display: inline-block;
          width: .35rem;
          height: .35rem;
          margin-right: 5px;
          border-radius: 100%;
          background-color: var(--background-color);
        }
        p {
          font-weight: inherit;
          margin: 0;
          font-size: 0.75rem;
        }
      }
      .online {
        --background-color: rgb(177, 255, 103);
        color: var(--background-color);
      }
      .offline {
        --background-color: rgb(206, 206, 206);
        color: var(--background-color);
      }
      .titles {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .custom-badges {
          align-self: center;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
        h1 {
          margin: 0;
          color: white;
          font-size: 1.5rem;
        }
        .supporter {
          align-self: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px 12px;
          font-size: 0.8rem;
          text-align: center;
          background-color: #ff66ab;
          border-radius: 25px;
          color: white;
          letter-spacing: -.1rem;
          word-break: keep-all;
        }
        .flag {
          align-self: center;
          position: relative;
          width: 40px;
          height: 26.8px;
          border-radius: 3px;
          clip-path: fill-box;
          overflow: hidden;
          &::before {
            position: absolute;
            top: 0;
            display: inline-block;
            content: "";
            width: 100%;
            height: 50%;
            background-color: #ffffff;
          }
          &::after {
            position: absolute;
            top: 50%;
            display: inline-block;
            content: "";
            width: 100%;
            height: 50%;
            background-color: #ff4444;
          }
        }
        .invisible {
          &::after {
            content: none;
          }
          &::before {
            content: none;
          }
        }
      }
    }
  }
  .player-desc {
    border-top: 1px solid #CE93D8;
    margin: 2vh 0;
    margin-bottom: 0;
    padding: 1vh 0;
    color: white;
    font-weight: 500;
    font-size: 0.75rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    .content-line {
      display: flex;
      flex-direction: row;
      gap: 20px;
      .line-item {
        display: flex;
        flex-direction: row;
      }
    }
    .playstyle {
      #playstyle {
        font-weight: 700;
      }
    }
    .registered {
      #registered {
        font-weight: 700;
      }
    }
    // .location {
    //     #location {
    //         font-weight: 700;
    //     }
    // }
    // .discord {
    //     #discord {
    //         font-weight: 700;
    //         color: inherit;
    //     }
    // }
    // .twitter {
    //     #twitter {
    //         font-weight: 700;
    //         color: inherit;
    //     }
    // }
    // .heart {
    //     #heart {
    //         font-weight: 700;
    //     }
    // }
  }
}
.topbg {
  position: relative;
  top: 0;
  height: 450px;
  width: 100%;
  background: var(--tbg);
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}
.stats {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .col-info {
    color: $white-text;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .var-name {
      color: #CE93D8;
      font-weight: 600;
    }
  }
}
.mode-select {
  display: flex;
  margin-top: -30px;
  justify-content: center;
  flex-direction: column;
  button {
    cursor: pointer;
    position: relative;
    border: none;
    width: fit-content;
    color: $white-text;
    font-size: 0.8rem;
    border-radius: 12px;
    padding: 8px 10px;
    background: rgba(148, 148, 148, 0.26);
    overflow: hidden;
    &:hover {
      filter: brightness(115%);
    }
    font-family: inherit;
    font-weight: 600;
  }
  .active {
    background: #ce93d8ab;
  }
}
.active-button {
  background: #ce93d8ab !important;
}
footer {
  margin-top: auto;
  position: relative;
  width: 100%;
  background-color: #ce93d817;
  padding: 2.5% 10% 1.5%;
  color: rgb(238, 238, 238);
  font-size: 0.75rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    a {
      color: inherit;
      text-decoration: none;
      display: flex;
      flex-direction: row;
    }
    > div {
      > a {
        display: block;
        transition: all 0.25s ease;
        &:hover {
          color: #CE93D8;
        }
      }
    }
    > div {
      span {
        font-size: 0.9rem;
        display: inline-block;
        color: #CE93D8;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
    }
  }
  .col {
    margin-right: 40px;
    &:last-of-type {
      margin-right: 0;
    }
    span {
      font-size: 0.9rem;
      display: inline-block;
      color: #CE93D8;
      margin-bottom: 5px;
    }
  }
}
.stats-content {
  display: flex;
  justify-content: space-between;
  .profile-stats {
    width: 20%;
    color: white;
    display: flex;
    justify-content: space-between;
    .names {
      display: flex;
      flex-direction: column;
    }
    .values {
      display: flex;
      flex-direction: column;
    }
  }
}
.topplays {
  position: relative;
  display: block;
  width: 80%;
  height: fit-content;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 4vh 4vh;
  margin: 10px auto 10vh;

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
  .plays {
    display: flex;
    flex-direction: column;
    .play {
      margin: 5px 0;
      color: white;
      position: relative;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      outline: #ce93d800 2px solid;
      transition: all .5s ease, color .25s ease;
      overflow: hidden;
      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: var(--bg);
        background-size: 105%;
        background-position: center;
        pointer-events: none;
        transition: all .5s ease;
        border-radius: 10px;

        &::after {
          display: inline-block;
          content: "";
          width: 100%;
          height: 100%;
          background-color: hsla(288, 100%, 4%, 0.76);
          transition: all .5s ease;
          border-radius: 10px;
        }
      }

      &:hover {
        cursor: pointer;
        color: #CE93D8;
        outline: #CE93D8 2px solid;
        .background {
          background-size: 100%;
        }
      }
      .map-content {
        z-index: 2;
        position: relative;
        display: grid;
        grid-template-columns: 0.5fr 7fr 1.5fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;

        .grade {
          margin: auto 0;
          grid-area: 1 / 1 / 3 / 2;
        }
        .subtitle {
          margin: -3px 10px auto;
          font-size: 0.7rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          grid-area: 2 / 2 / 3 / 3;
        }
        .title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: auto 10px;
          grid-area: 1 / 2 / 2 / 3;
          font-weight: bold;
          vertical-align: middle;
        }
        .mods {
          margin: auto 20px;
          grid-area: 1 / 3 / 3 / 4;
        }
        .acc {
          margin: auto 0;
          grid-area: 1 / 4 / 3 / 5;
        }
        .combo {
          margin: auto 0;
          grid-area: 1 / 5 / 3 / 6;
        }
        .pp {
          font-weight: bold;
          margin: auto 0;
          grid-area: 1 / 6 / 3 / 7;
        }
      }
    }
  }
}

#beatmap-list {
  position: relative;
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 2vh 2vh;
  margin-top: -15vh;
  margin-bottom: 40px;
  .content {
    background-color: #3e3040;
    width: 90%;
    margin: 0 auto;

    .SelectStatusPanel {
      margin-right: auto;
      margin-left: auto;
      width: fit-content;
      a {
        color: white;
        margin-right: 10px;
        margin-left: 10px;
        transition: 0.2s;
        &:hover {
          color: #dd9fc4;
          cursor: pointer;
        }
      }
      .active {
        color: #dd9fc4;
      }
    }

    #searchMap {
      font-size: 1.2rem;
      width: 100%;
      margin: 0 auto 20px;
      background-color: rgba(0, 0, 0, 0.342);
      border-radius: 10px;
      padding: 6px 12px;
      padding-left: 15px;
      padding-bottom: 8px;
      border: none;
      text-align: left;
      color: rgb(255, 255, 255);
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      outline: rgba(255, 255, 255, 0) 1px solid;
      transition: all 0.25s ease;
      backdrop-filter: blur(20px);

      &:hover {
        background-color: rgba(0, 0, 0, 0.247);
      }
    }

    .map-search-results {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
      }
      .map {
        cursor: pointer;
        background: var(--bg);
        text-decoration: none;
        position: relative;
        width: 400px;
        font-size: 1.15em;
        color: white;
        height: 120px;
        border-radius: 5px;
        justify-content: space-between;
        text-align: center;
        background-size: cover;
        margin: 10px 10px;
        outline: #00000000 2px solid;
        transition: all .5s ease, color .25s ease;
        @media only screen and (max-width: 600px) {
          width: 250px;
        }
        &:hover {
          cursor: pointer;
          color: #CE93D8;
          outline: #CE93D8 2px solid;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: -10px;
          width: 15px;
          height: 100%;
          border-radius: 5px 0 0 5px;
        }

        &::before {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          background: black;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          opacity: 0.6;
        }
        .map-content {
          position: relative;
          font-size: 1rem;
          display: grid;
          height: 100%;
          grid-template-columns: 50% 50%;
          grid-template-rows: 20% 80%;
          padding: 5px 15px;
          .status {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            text-align: left;
          }
          .header {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            text-align: right;
          }
          .title {
            width: 90%;
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            display: flex;
            flex-direction: column;
            text-align: left;
            vertical-align: bottom;
            justify-content: flex-end;
            height: 100%;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .map-title {
              font-size: 1.2rem;
            }
            .map-artist {
              font-size: 0.8rem;

            }
            .map-artist, .map-title {
              display: inline-block;
              overflow: hidden;
              text-overflow: ellipsis;
              position: relative;
            }
          }
        }
      }
    }
  }
}

.settings {
  position: relative;
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 2vh 2vh;
  margin-top: -15vh;
  .player-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    img {
      width: 150px;
      height: 150px;
      border-radius: 15px
    }
    .basic {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 150px;
      align-items: flex-start;
      justify-content: flex-start;
      color: white;
    }
    .player-basic-info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 15px;
      padding: 5px 0;
      height: 150px;
      .group {
        font-size: 1.25rem;
        margin: 0;
        font-weight: 600;
      }
      .playing {
        font-size: .75rem;
        color: white;
        font-weight: 600;
        a {
          color: #CE93D8;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: flex-end;
        font-weight: 500;
        span {
          font-size: 0.75rem;
        }
        .dot {
          display: inline-block;
          width: .35rem;
          height: .35rem;
          margin-right: 5px;
          border-radius: 100%;
          background-color: var(--background-color);
        }
        p {
          font-weight: inherit;
          margin: 0;
          font-size: 0.75rem;
        }
      }
      .online {
        --background-color: rgb(177, 255, 103);
        color: var(--background-color);
      }
      .offline {
        --background-color: rgb(206, 206, 206);
        color: var(--background-color);
      }
      .titles {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .custom-badges {
          align-self: center;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
        h1 {
          margin: 0;
          color: white;
          font-size: 1.5rem;
        }
        .supporter {
          align-self: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px 12px;
          font-size: 0.8rem;
          text-align: center;
          background-color: #ff66ab;
          border-radius: 25px;
          color: white;
          letter-spacing: -.1rem;
          word-break: keep-all;
        }
        .flag {
          align-self: center;
          position: relative;
          width: 40px;
          height: 26.8px;
          border-radius: 3px;
          clip-path: fill-box;
          overflow: hidden;
        }
        .invisible {
          &::after {
            content: none;
          }
          &::before {
            content: none;
          }
        }
      }
    }
  }
}

.settings-tab {
  position: relative;
  display: block;
  width: 50%;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 4vh 4vh;
  margin: 10px auto 10vh;
  hr {
    color: #291d29;
    margin-bottom: 20px;
  }
  > div {
    width: 90%;
    margin: 20px auto 40px;
    .btn {
      background-color: rgba(0, 0, 0, 0.342);
      border-radius: 20px;
      border: none;
      font-size: 0.9rem;
      color: rgb(255, 255, 255);
      font-family: 'Quicksand', sans-serif;
      outline: rgba(255, 255, 255, 0) 1px solid;
      transition: all 0.25s ease;
      backdrop-filter: blur(20px);
      &:hover {
        background-color: rgba(0, 0, 0, 0.247);
      }
      display: block;
      font-weight: 500;
      text-align: center;
      width: 100px;
      padding: 12px;
      background-color: #ce93d8a2;
      margin: 2rem auto 0;

      &:hover {
        background-color: #CE93D8;
        cursor: pointer;
      }
      &:active {
        outline: transparent;
        filter: brightness(130%);
      }
      &:focus {
        outline: transparent;
      }
    }
    .line {
      display: grid;
      grid-template-columns: 4fr 7fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
      margin: 5px auto;

      span {
        grid-area: 1 / 1 / 2 / 1;
        color: white;
        text-align: right;
        display: block;
        vertical-align: center;
        margin: auto 0;
      }


      input[type="text"] {
        width: 300px;
        height: 30px;
        margin: auto 20px;
        grid-area: 1 / 2 / 1 / 3;
        background-color: rgba(0, 0, 0, 0.342);
        border-radius: 20px;
        padding: 6px 12px 8px 15px;
        border: none;
        font-size: 0.9rem;
        text-align: left;
        color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        outline: rgba(255, 255, 255, 0) 1px solid;
        transition: all 0.25s ease;
        backdrop-filter: blur(20px);
        &:hover {
          background-color: rgba(0, 0, 0, 0.247);
        }
      }
    }
    span {
      color: white;
    }
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
  .avatar-settings {
    span {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      margin: 20px auto -20px;
    }
    div {
      display: flex;
      justify-content: space-around;
      button {
        display: block;
        background-color: rgba(0, 0, 0, 0.342);
        border-radius: 20px;
        border: none;
        font-size: 0.9rem;
        color: rgb(255, 255, 255);
        font-family: 'Quicksand', sans-serif;
        outline: rgba(255, 255, 255, 0) 1px solid;
        transition: all 0.25s ease;
        backdrop-filter: blur(20px);
        font-weight: 500;
        text-align: center;
        width: 130px;
        padding: 12px;
        background-color: #ce93d8a2;
        margin: 1rem auto 0;

        &:hover {
          background-color: rgba(0, 0, 0, 0.247);
          background-color: #CE93D8;
          cursor: pointer;
        }
        &:active {
          outline: transparent;
          filter: brightness(130%);
        }
        &:focus {
          outline: transparent;
        }
      }
      span {
        text-align: center;
        margin-bottom: 10px;
      }
      .avatar-panel {
        display: flex;
        flex-direction: column;
        img {
          width: 150px;
          height: 150px;
          border-radius: 5px;
          &:hover {

          }
        }
      }
      .banner-panel {
        display: flex;
        flex-direction: column;
        #banner-settings-img {

          width: 280px;
          height: 150px;
          background: var(--bg);
          background-size: cover;
          background-position: center;
          border-radius: 5px;
          &:hover {

          }
        }
      }
    }
  }
}
.leaderboard {
  position: relative;
  display: block;
  width: 80%;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 2vh 2vh;
  margin: 10px auto;
}

.top_header {
  position: relative;
  top: 0;
  height: 450px;
  width: 100%;
  background: var(--tbg);
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
}
#lb-profile {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 80%;
  height: 100%;
  background-color: #3e3040;
  border-radius: 30px;
  padding: 2vh 2vh;
  outline: #00000000 2px solid;
  transition: 0.2s;
  &:hover {
    outline: #CE93D8 2px solid;
  }
  a {
    text-decoration: none;
  }
  .player-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    .basic {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 150px;
      align-items: flex-start;
      justify-content: flex-start;
      color: white;
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 15px
    }
    .ranking {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      text-align: right;
      padding-right: 2.5%;
      align-items: flex-end;
      h1, h6, h3, h5 {
        margin: 0;
      }
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
      h5 {
        font-size: 1em;
      }
      h6 {
        font-size: .9em;
        font-weight: 500;
      }
      .global-ranks {
        display: flex;
        flex-direction: row;
        width: auto;
        white-space: nowrap;
        font-size: 0.75rem;
        margin: auto 0;
        margin-top: 10px;
        .ranks {
          width: fit-content;
          display: flex;
          flex-direction: column;
          text-align: right;
          &:first-of-type {
            border: 0 !important;
            padding-left: 0;
            padding-right: 20px;
            h1 {
              color: #CE93D8;
            }
          }
          &:nth-of-type(2n) {
            margin-left: 20px;
            h1 {
              color: #74d5d6;
            }
          }
        }
      }
    }
    .player-basic-info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 15px;
      padding: 5px 0;
      height: 150px;
      .subtext {
        font-size: 0.9rem !important;
        margin-top: -20px;
      }
      .group {
        font-size: 1.25rem;
        margin: 0;
        font-weight: 600;
      }
      .small {
        font-size: 0.5rem !important;
        margin: 0 5px;
      }
      .playing {
        font-size: .75rem;
        color: white;
        font-weight: 600;
        a {
          color: #CE93D8;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-self: flex-end;
        font-weight: 500;
        span {
          font-size: 0.75rem;
        }
        p {
          font-weight: inherit;
          margin: 0;
          font-size: 0.75rem;
        }
      }
      .titles {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .custom-badges {
          align-self: center;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
        h1 {
          margin: 0;
          color: white;
          font-size: 1.5rem;
        }
        .supporter {
          align-self: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2px 12px;
          font-size: 0.8rem;
          text-align: center;
          background-color: #ff66ab;
          border-radius: 25px;
          color: white;
          letter-spacing: -.1rem;
          word-break: keep-all;
        }
        .flag {
          align-self: center;
          position: relative;
          width: 40px;
          height: 26.8px;
          border-radius: 3px;
          clip-path: fill-box;
          overflow: hidden;
          &::before {
            position: absolute;
            top: 0;
            display: inline-block;
            content: "";
            width: 100%;
            height: 50%;
            background-color: #ffffff;
          }
          &::after {
            position: absolute;
            top: 50%;
            display: inline-block;
            content: "";
            width: 100%;
            height: 50%;
            background-color: #ff4444;
          }
        }
        .invisible {
          &::after {
            content: none;
          }
          &::before {
            content: none;
          }
        }
      }
    }
  }
}
.lb-mode-select {
  margin-top: -19vh;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  button {
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    border: none;
    width: fit-content;
    color: $white-text;
    font-size: 0.8rem;
    border-radius: 12px;
    padding: 8px 10px;
    background: rgba(148, 148, 148, 0.26);
    overflow: hidden;
    transition: 0.2s;
    &:hover {
      background: rgba(206, 132, 255, 0.66);
    }
  }
}
.leaderboard {
  a {
    text-decoration: none;
  }
  .background {
    background: var(--bg);
    width: 30%;
    height: 50px;
    background-size: cover;
    filter: blur(1px) brightness(50%);
    position: absolute;
    z-index: 1;
    margin-left: 15px;
    border-radius: 10px 0 0 10px;
  }
  .player-frame {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    height: 50px;
    justify-content: left;
    display: grid;
    width: 98%;
    padding: 0 1%;
    grid-template-columns: 0.7fr 1.2fr 1fr 15fr 3fr 3fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    outline: #00000000 2px solid;
    transition: all .5s ease, color .25s ease;
    &:hover {
      cursor: pointer;
      color: #CE93D8;
      outline: #CE93D8 2px solid;
    }
    &:first-of-type {
      &:hover {
        cursor: pointer;
        color: white;
        outline: #00000000 2px solid;
      }
    }
    &:first-of-type {
      text-align: center;
      background: none;
      height: 20px;
      margin-bottom: 10px;
    }
    .userinfo {
      position: relative;
      z-index: 3;
      text-align: center;
      grid-area: 1 / 1 / 2 / 4;
    }
    .ranking {
      position: relative;
      z-index: 3;
      margin: auto 0;
      grid-area: 1 / 1 / 2 / 2;
    }
    .avatar {
      position: relative;
      z-index: 3;
      border-radius: 10px;
      height: 50px;
      grid-area: 1 / 2 / 2 / 3;
    }
    .flag {
      position: relative;
      z-index: 3;
      margin: auto 0;
      height: 25px;
      grid-area: 1 / 3 / 2 / 4;
    }
    .username {
      position: relative;
      z-index: 3;
      margin: auto 0;
      grid-area: 1 / 4 / 2 / 5;
      font-weight: bold;
    }
    .acc {
      text-align: center;
      margin: auto 0;
      grid-area: 1 / 5 / 2 / 6;
    }
    .playcount {
      text-align: center;
      margin: auto 0;
      grid-area: 1 / 6 / 2 / 7;
    }
    .pp {
      text-align: center;
      margin: auto 0;
      grid-area: 1 / 7 / 2 / 8;
    }
  }
}
.lb-global-ranks {
  font-size: 1.25rem !important;
}

.top-button {
  background-color: rgba(0, 0, 0, 0.342);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  outline: rgba(255, 255, 255, 0) 1px solid;
  transition: all 0.25s ease;
  backdrop-filter: blur(20px);
  &:hover {
    background-color: rgba(0, 0, 0, 0.247);
  }
  display: block;
  font-weight: 500;
  text-align: center;
  width: 150px;
  padding: 12px;
  background-color: #ce93d8a2;
  margin: 2rem auto 0;
}